* {
    box-sizing: border-box;
}

#preview {
    background-color: black;
}

#demo:after {
    content: '';
    display: table;
    clear: both;
}

.box {
    float: left;
    padding: 10px;
    z-index: 1;
}

.box.b {
    background-color: gray;
}

.box.a {
    background-color: black;
}

.box.c {
    background-color: transparent;
}

.box.d {
    background-color: white;
}

.box.e {
    filter: blur(5px);
    filter: brightness(0.5);
    filter: contrast(150%);
    filter: drop-shadow(10px 10px 20px black);
    filter: grayscale(50%);
    filter: hue-rotate(90deg);
    filter: invert(50%);
    filter: opacity(50%);
    filter: saturate(50%);
    filter: sepia(50%);
}

hr {
    display: block;
    border: 0;
    margin: 1em 0;
    padding: 0;
}
