* {
    box-sizing: border-box;
}

#demo:after {
    content: '';
    display: table;
    clear: both;
}

.box {
    float: left;
    padding: 10px;
    z-index: 1;
}

.box.b {
    background-color: gray;
}

.box.a {
    background-color: black;
}

.box.c {
    background-color: transparent;
}

.box.d {
    background-color: white;
}

hr {
    display: block;
    border: 0;
    margin: 1em 0;
    padding: 0;
}
